.App {
  text-align: center;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
}

#turnHeader {
  margin-top: 80px;
  font-size: 50px;
}

#board {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 65px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 120px;
  height: 100px;
  padding-top: 25px;
  border: solid 2px;
}

button {
  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  background-color: black;
  color: white;
  border-radius: 15px;
  font-family: "Roboto Mono", monospace;
}

button:active {
  background-color: rgb(82, 82, 82);
}
